{%- set compilers = wandbox_list() | wandbox_fnmatch_compilers("cpython-3*") %}
{%- set compiler = compilers[0].name %}
{%- set src = fread("sample/main.py") %}
```
{{ src }}
```

```
{{ wandbox_run(compiler, src).program_message }}
```

```
{{ wandbox_run(compiler, src, runtime_option="Test").program_message }}
```
